TF_VAR_hcloud_token=
TF_VAR_ssh_user=
TF_VAR_cloudflare_api_token=

SSH_USER=

NOMAD_ADDR=https://nomad.datasektionen.se
NOMAD_TOKEN=
AGE_IDENTITY=$PWD/secrets/identity.txt

# If traefik breaks, this can be used (but doesn't work well with `nomad ui -authentiate`):
# NOMAD_ADDR=https://zeus.datasektionen.se:4646
# NOMAD_CACERT=/home/mathias/code/dsekt/infra/files/nomad-agent-ca.pem
