TF_VAR_hcloud_token=
TF_VAR_ssh_user=
TF_VAR_cloudflare_api_token=
TF_VAR_vault_db_password=
TF_VAR_nomad_sso_client_secret=

SSH_USER=

NOMAD_ADDR=https://nomad.datasektionen.se
NOMAD_TOKEN=
AGE_IDENTITY=$PWD/secrets/identity.txt

# If traefik breaks, you can run `ssh -L4646:ares.dsekt.internal:4646 ares` and
# uncomment these (but doesn't work very well with `nomad ui -authentiate`) to
# contact nomad's api:
#
# NOMAD_ADDR=https://127.0.0.1:4646
# NOMAD_CACERT=/home/mathias/code/dsekt/infra/files/nomad-agent-ca.pem
